@font-face {
  font-family: 'Coolvetica';
  src: url('./assets/Fonts/coolvetica rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Tailwind CSS básico */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f7f3ed;  /* Color de fondo según la referencia */
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Coolvetica', sans-serif;
  color: #1E2359;  /* Color del texto según la referencia */
  font-size: 6rem;  /* Tamaño ajustado al diseño */
}

p {
  font-family: 'Raleway', sans-serif;
  color: #1E2359;
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
